img{
    padding: 0;
    margin: 0;
    width: 70px;
}
.navbar-brand{
    text-align: center ;
    vertical-align: middle;
}
.rechercher{
    text-align: center ;
    vertical-align: middle;
}
.row{
    margin-top: 5em;
}
h2, tr, th{
    text-align: center ;
    font-size: 0,65em;
}
.nav-link, .ensavoirplus{
    text-align: center;
    color: #d9b01c!important;
}
.nav-link:hover, .page-link:hover, .ensavoirplus:hover{
    color: #b8860b;
    text-decoration: none;
}
.page-link{
    color: #d9b01c;
}
.page-link:hover{
    background-color: #333333!important;
    color: #b8860b;
}
.navbar-nav{
    padding-right: -3em;
}
.btn{
    height: 40%;
    border: 1px solid #b8860b;!important;
}
.btn-secondary{
    color: #d9b01c!important;
    text-decoration: none;
    background-color: transparent;
}
.btn-secondary:hover{
    background-color: #333333!important;
    color: #b8860b!important;
}
.bg-dark{
    background-color: #333333!important;
}
.swal2-actions{
    margin: 1em auto 0;
}
.btn-success, .btn-danger{
    margin: 2px!important;
    height: 40px;
}
.swal2-icon{
    margin: 2px!important;
}
.swal2-progress-steps{
    max-width: 500px;
}
