.menu-cote{
    text-align: center;
    margin: -1em;
}
.menu-cote:hover{
    color: #b8860b;
}
a .menu-cote{
    color: #cc9900;
}
img{
    margin-left: 30px;
    width: 60px;
    text-align: center;
}
.row{
    margin-top: 70px;
}
h2, tr, th{
    text-align: center ;
    font-size: 0,65em;
}
.form-control{
    width: 60%;
}
